@charset "UTF-8";
[v-cloak] {
  display: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 50px;
  max-width: 800px;
  margin: 0 auto;
  background: radial-gradient(black, transparent);
  -webkit-filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.6));
  color: aliceblue;
}

.navbar .nav-text {
  color: white;
  text-shadow: 0px 0px 10px rebeccapurple;
  font-size: 5vw;
  font-weight: bold;
  max-width: 600px;
}

@media screen and (min-width: 700px) {
  .navbar .nav-text {
    font-size: 36px;
  }
}

.navbar .nav-text:hover {
  -webkit-animation: floatShadow .8s ease-out;
          animation: floatShadow .8s ease-out;
  cursor: pointer;
}

.toggle-btn {
  cursor: pointer;
  opacity: 0;
  width: 70px;
  height: 70px;
  position: fixed;
  z-index: 1000;
  line-height: 60px;
  padding-left: 10px;
  border: none;
  background: none;
  color: white;
  font-size: 8vw;
  -webkit-animation: slidInFromTheLeft .5s ease forwards;
          animation: slidInFromTheLeft .5s ease forwards;
}

@media screen and (min-width: 700px) {
  .toggle-btn {
    display: none;
  }
}

.shatter {
  background: radial-gradient(black, transparent);
  text-align: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  margin-left: -100%;
}

@media screen and (min-width: 700px) {
  .shatter {
    width: 36%;
    margin-left: 0%;
    opacity: 0;
    -webkit-animation: slidInFromTheLeft .5s ease forwards;
            animation: slidInFromTheLeft .5s ease forwards;
  }
}

.shatter .sns-icons {
  padding-left: 5vw;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 700px) {
  .shatter .sns-icons {
    padding-left: 0vw;
  }
}

.shatter .sns-icons span {
  color: white;
  position: absolute;
  left: 10px;
}

.shatter-open {
  -webkit-animation: shatterOpen 1s ease forwards;
          animation: shatterOpen 1s ease forwards;
}

.shatter-close {
  -webkit-animation: shatterClose 1s ease forwards;
          animation: shatterClose 1s ease forwards;
}

@-webkit-keyframes shatterOpen {
  75% {
    margin-left: 5%;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes shatterOpen {
  75% {
    margin-left: 5%;
  }
  100% {
    margin-left: 0%;
  }
}

@-webkit-keyframes shatterClose {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes shatterClose {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: -100%;
  }
}

.sns-icons {
  opacity: 0;
  font-size: 48px;
  text-shadow: 1px -500px 100px white;
}

.sns-icons a {
  text-decoration: none;
  margin-left: 1vw;
}

.sns-icons a:first-of-type {
  margin-left: 0vw;
}

.sns-icons .twitter-icon:hover, .sns-icons .git-icon:hover, .sns-icons .blog-icon:hover, .sns-icons .qiita-icon:hover {
  -webkit-animation: floatShadow .8s ease-out;
          animation: floatShadow .8s ease-out;
  cursor: pointer;
}

.sns-icons .qiita-icon:after {
  content: "Qiita";
  color: #59bb0c;
}

h1 {
  text-shadow: 2px 2px 5px black;
  padding-top: 10px;
  margin-bottom: 0px;
  color: #fff;
}

.border-b {
  opacity: 0;
  border-bottom: 5px solid gold;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 15px;
}

@media screen and (min-height: 700px) {
  .border-b {
    margin-bottom: 5vh;
  }
}

.border-c {
  opacity: 0;
  margin-top: -19px;
}

.page1 {
  height: 100vh;
  background-image: url(assets/minify/waterfall.jpg);
  background-position: center;
  color: #fff;
}

.page1 .update-info {
  opacity: 0;
  position: absolute;
  background: radial-gradient(black, transparent);
  color: gainsboro;
  font-style: italic;
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  overflow: hidden;
  z-index: 1;
  height: 50px;
  font-size: 16px;
  width: 51%;
}

@media screen and (min-width: 700px) {
  .page1 .update-info {
    width: 360px;
  }
}

.page1 .update-info li {
  cursor: pointer;
}

.page1 .update-info li a {
  color: gainsboro;
  text-decoration: none;
  font-weight: bold;
}

.page1 .update-info li a:hover {
  text-shadow: 1px 1px 1px red;
}

.page1 .update-info li hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid springgreen;
}

.page1 .more {
  opacity: 0;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  left: 51%;
  background: radial-gradient(black, transparent);
}

@media screen and (min-width: 700px) {
  .page1 .more {
    left: 370px;
  }
}

.page1:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1000;
  -webkit-animation: fulloverlayOut 2s ease-in forwards;
          animation: fulloverlayOut 2s ease-in forwards;
}

.page1 .top-message {
  text-align: center;
  padding-top: 50px;
}

.page1 .top-message .top-main-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page1 .top-message .top-main-message:hover {
  -webkit-transition: 1s;
  transition: 1s;
  text-shadow: 5px 5px 5px black, 0px 0px 20px black;
}

.page1 .top-message .top-main-message .message-one, .page1 .top-message .top-main-message .message-two {
  margin: 0 5px 50px 5px;
  opacity: 0;
  font-size: 10vw;
}

@media screen and (min-width: 700px) {
  .page1 .top-message .top-main-message .message-one, .page1 .top-message .top-main-message .message-two {
    font-size: 80px;
  }
}

@media screen and (min-width: 1000px) {
  .page1 .top-message .top-main-message .message-one, .page1 .top-message .top-main-message .message-two {
    font-size: 100px;
  }
}

.page1 .top-message .top-sab-maessage {
  opacity: 0;
  margin-bottom: 50px;
}

.page1 .top-message .copylight {
  opacity: 0;
}

.page1 .top-message .convery-message {
  opacity: 0;
  font-size: 13vw;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@media screen and (min-width: 600px) {
  .page1 .top-message .convery-message {
    font-size: 50px;
  }
}

@media screen and (min-width: 700px) {
  .page1 .top-message .convery-message {
    font-size: 70px;
  }
}

@-webkit-keyframes moreMove {
  50% {
    left: 85%;
    top: 0%;
  }
  100% {
    top: 80%;
    left: 85%;
    z-index: 1;
  }
}

@keyframes moreMove {
  50% {
    left: 85%;
    top: 0%;
  }
  100% {
    top: 80%;
    left: 85%;
    z-index: 1;
  }
}

.more-move {
  -webkit-animation: moreMove 1s ease forwards;
          animation: moreMove 1s ease forwards;
}

@-webkit-keyframes ulMove {
  50% {
    width: 100%;
    height: 50px;
  }
  100% {
    width: 100%;
    height: 80%;
  }
}

@keyframes ulMove {
  50% {
    width: 100%;
    height: 50px;
  }
  100% {
    width: 100%;
    height: 80%;
  }
}

.ul-move {
  -webkit-animation: ulMove 1s ease forwards;
          animation: ulMove 1s ease forwards;
}

.page2 {
  height: 100vh;
  text-align: center;
  background-image: url(assets/minify/waterfall.jpg);
  background-position: bottom;
}

.page2 img {
  opacity: 0;
  width: 165px;
  height: 165px;
  border-radius: 50%;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: 35% 36%;
     object-position: 35% 36%;
  -webkit-animation: slidInFromTheBottom 1s ease-out forwards;
          animation: slidInFromTheBottom 1s ease-out forwards;
}

.page2 .names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page2 .names .initial {
  opacity: 0;
  font-size: 100px;
  letter-spacing: -15px;
  margin-bottom: 0;
  -webkit-animation: slidInFromTheBottom 1.5s ease-out forwards;
          animation: slidInFromTheBottom 1.5s ease-out forwards;
}

.page2 .name {
  opacity: 0;
  margin-bottom: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 35px;
  margin-top: 7px;
  -webkit-animation: slidIn 1.5s ease-out forwards;
          animation: slidIn 1.5s ease-out forwards;
}

.page2 span {
  font-size: 60px;
  letter-spacing: 6px;
}

.page2 ul {
  text-align: left;
  padding: 10px 20px;
  margin: 0 15px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 10px black, 2px 2px 2px black;
  font-size: 3.8vw;
  background-color: rgba(100, 100, 100, 0.1);
}

@media screen and (min-width: 700px) {
  .page2 ul {
    font-size: 28px;
  }
}

.page2 li {
  list-style: none;
  margin-bottom: 5px;
  display: inline-block;
}

.page2 li:after {
  content: "";
  border-bottom: 2px solid springgreen;
  display: block;
  opacity: 0;
  -webkit-animation: slidInSmooth 3s ease-out forwards;
          animation: slidInSmooth 3s ease-out forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.page3 {
  height: 100vh;
  background-image: url(./assets/wine.jpg);
  z-index: -1000;
  position: relative;
  background-size: cover;
  background-position: center;
}

.page3:after {
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
  z-index: -100;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.page3 h1 {
  text-align: center;
}

.page3 .icons, .page3 .icons-color {
  color: #fff;
  text-shadow: 0px 0px 50px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 60px;
  position: absolute;
}

.page3 .icons-color {
  z-index: -1;
}

.page3 [class^=devicon-] {
  opacity: 0;
  font-size: 20vw;
  margin: 1vw;
}

@media screen and (min-width: 700px) {
  .page3 [class^=devicon-] {
    font-size: 15vw;
    margin: 14px;
  }
}

.page3 .study-since {
  color: #fff;
  opacity: 0;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

.page3 .study-since:after {
  content: "";
  border-bottom: 1px solid springgreen;
  display: block;
  opacity: 0;
  -webkit-animation: slidInSmoothRight 2s ease-out forwards;
          animation: slidInSmoothRight 2s ease-out forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.page4 {
  background-image: url(assets/minify/beer.jpg);
  background-position: left;
  background-size: cover;
}

.page4 h1 {
  text-align: center;
}

.page4 .made-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page4 .made-list .made-item {
  width: 100%;
  margin: 0 auto 100px auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page4 .made-list .made-item .item-title {
  text-align: center;
  margin-top: 10px;
  color: white;
}

.page4 .made-list .made-item .animation-point {
  text-align: center;
  opacity: 0;
}

@media screen and (min-width: 700px) {
  .page4 .made-list .made-item .animation-point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page4 .made-list .made-item a {
  text-align: center;
  max-width: 500px;
}

.page4 .made-list .made-item a img {
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 300px;
}

@media screen and (min-width: 700px) {
  .page4 .made-list .made-item a img {
    width: 80%;
    height: 500px;
  }
}

.page4 .made-list .made-item .item-body {
  background: radial-gradient(black, transparent);
  margin: auto;
  width: 300px;
}

.page4 .made-list .made-item .item-body .item-text {
  color: white;
  background: radial-gradient(black, transparent);
}

.page4 .made-list .made-item .item-body a {
  color: springgreen;
  text-shadow: 1px 1px 3px black;
  font-size: 24px;
}

.page4 .made-list .made-item video {
  height: 300px;
  max-width: 300px;
}

.page4 .made-list .made-item .item-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
  text-align: left;
}

.page5 {
  height: 100vh;
  background-image: url(./assets/minify/waterfall.jpg);
}

.page5 h1 {
  text-align: center;
}

.page5 .send-message {
  text-shadow: 2px 2px 5px black;
  text-align: center;
  color: white;
  padding: 10px;
  -webkit-animation: bgColor 5s ease-out forwards;
          animation: bgColor 5s ease-out forwards;
  font-size: 4vw;
}

@media screen and (min-width: 700px) {
  .page5 .send-message {
    font-size: 24px;
  }
}

.page5 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px auto;
  width: 80%;
  max-width: 600px;
}

@media screen and (min-height: 700px) {
  .page5 form {
    margin-top: 5vh;
  }
}

.page5 textarea {
  margin-bottom: 20px;
  padding-left: 15px;
  padding-top: 10px;
}

@media screen and (min-height: 700px) {
  .page5 textarea {
    height: 40vh;
  }
}

.page5 .btn {
  margin-bottom: 20px;
  height: 50px;
  margin: 0 auto;
  background-color: rgba(85, 172, 238, 0.9);
  border: none;
  -webkit-animation: slidInFromTheBottom 1.5s ease-out forwards;
          animation: slidInFromTheBottom 1.5s ease-out forwards;
}

.page5 .btn:hover {
  cursor: pointer;
}

.page5 .btn i {
  font-weight: bold;
}

/* 入り始め */
.v-enter {
  -webkit-transform: translate(-150px, 0);
          transform: translate(-150px, 0);
  opacity: 0;
}

/* 入り終わり */
.v-enter-to {
  opacity: 1;
}

/* 入り最中 */
.v-enter-active {
  -webkit-transition: all 1s .3s ease;
  transition: all 1s .3s ease;
}

/* 去り始め */
.v-leave {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

/* 去り終わり */
.v-leave-to {
  -webkit-transform: translate(-150px, 0);
          transform: translate(-150px, 0);
  opacity: 0;
}

/* 去り最中 */
.v-leave-active {
  -webkit-transition: all .5s 0s ease;
  transition: all .5s 0s ease;
}

.enchant-color {
  -webkit-transition: 1s;
  transition: 1s;
  color: springgreen;
  text-shadow: 5px 5px 5px black, 0px 0px 20px black;
}

.enchant-color-g {
  -webkit-transition: 1s;
  transition: 1s;
  color: gold;
  text-shadow: 20px 30px 5px black, 0px 0px 5px black;
}

.enchant-color-small {
  -webkit-transition: 1s;
  transition: 1s;
  color: gold;
  text-shadow: 5px 5px 5px black;
}

.enchant-shadow {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 20px 30px 50px black;
          box-shadow: 20px 30px 50px black;
}

.enchant-shadow-page5 {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 0px 0px 30px rebeccapurple;
          box-shadow: 0px 0px 30px rebeccapurple;
}

.inview {
  -webkit-animation: slidIn 1s ease-out forwards;
          animation: slidIn 1s ease-out forwards;
}

.inview-delay {
  -webkit-animation: slidIn 1s ease-out forwards;
          animation: slidIn 1s ease-out forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.inview-delay-too {
  -webkit-animation: slidInSmooth 1s ease-out forwards;
          animation: slidInSmooth 1s ease-out forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  border-bottom: 2px solid springgreen;
}

.inview-from-the-left {
  -webkit-animation: slidInFromTheLeft 1s ease-out forwards;
          animation: slidInFromTheLeft 1s ease-out forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.inview-from-the-left-delay {
  -webkit-animation: slidInFromTheLeftRev .5s ease-out forwards;
          animation: slidInFromTheLeftRev .5s ease-out forwards;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.inview-from-the-bottom-first {
  -webkit-animation: slidInFromTheBottom 1s ease-in forwards;
          animation: slidInFromTheBottom 1s ease-in forwards;
}

.inview-from-the-bottom {
  -webkit-animation: slidInFromTheBottom 1s ease-in forwards;
          animation: slidInFromTheBottom 1s ease-in forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.inview-from-the-bottom-delay {
  -webkit-animation: slidInFromTheBottom 2s ease-in forwards;
          animation: slidInFromTheBottom 2s ease-in forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.inview-from-the-top-bounce {
  -webkit-animation: slidInFromTheTopBounce 2.5s ease-out forwards;
          animation: slidInFromTheTopBounce 2.5s ease-out forwards;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.outview {
  -webkit-animation: slidOut 1s ease-in forwards;
          animation: slidOut 1s ease-in forwards;
}

.icon-move {
  -webkit-animation: iconMove 2s ease-out forwards;
          animation: iconMove 2s ease-out forwards;
}

.fadein-plean {
  -webkit-animation: fadeInPlean 1s ease-out forwards;
          animation: fadeInPlean 1s ease-out forwards;
}

@-webkit-keyframes fadeInPlean {
  100% {
    opacity: 1;
  }
}

@keyframes fadeInPlean {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bgColor {
  100% {
    background-color: rgba(102, 51, 153, 0.7);
  }
}

@keyframes bgColor {
  100% {
    background-color: rgba(102, 51, 153, 0.7);
  }
}

@-webkit-keyframes fulloverlayOut {
  100% {
    z-index: 0;
    background-color: initial;
  }
}

@keyframes fulloverlayOut {
  100% {
    z-index: 0;
    background-color: initial;
  }
}

@-webkit-keyframes iconMove {
  100% {
    opacity: 1;
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@keyframes iconMove {
  100% {
    opacity: 1;
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@-webkit-keyframes slidIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slidIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes slidInSmooth {
  0% {
    opacity: 0;
    margin-left: 100%;
  }
  100% {
    opacity: 1;
    margin-left: 0%;
  }
}

@keyframes slidInSmooth {
  0% {
    opacity: 0;
    margin-left: 100%;
  }
  100% {
    opacity: 1;
    margin-left: 0%;
  }
}

@-webkit-keyframes slidInSmoothRight {
  0% {
    opacity: 0;
    margin-right: 100%;
  }
  100% {
    opacity: 1;
    margin-right: 0%;
  }
}

@keyframes slidInSmoothRight {
  0% {
    opacity: 0;
    margin-right: 100%;
  }
  100% {
    opacity: 1;
    margin-right: 0%;
  }
}

@-webkit-keyframes slidInFromTheTopBounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  30% {
    opacity: .8;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  75% {
    text-shadow: 1px 1px 5px white;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    text-shadow: 0px 0px 30px wheat, 1px 1px 10px white;
  }
}

@keyframes slidInFromTheTopBounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  30% {
    opacity: .8;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  75% {
    text-shadow: 1px 1px 5px white;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    text-shadow: 0px 0px 30px wheat, 1px 1px 10px white;
  }
}

@-webkit-keyframes slidInFromTheLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slidInFromTheLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes slidInFromTheLeftRev {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  75% {
    opacity: 1;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slidInFromTheLeftRev {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  75% {
    opacity: 1;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes slidInFromTheBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(75%);
            transform: translateY(75%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slidInFromTheBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(75%);
            transform: translateY(75%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes slidOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slidOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes floatShadow {
  80% {
    text-shadow: 0px 0px 30px wheat, 0px -30px 5px skyblue;
  }
  100% {
    text-shadow: 0px 0px 30px wheat, 0px -30px 100px skyblue;
  }
}

@keyframes floatShadow {
  80% {
    text-shadow: 0px 0px 30px wheat, 0px -30px 5px skyblue;
  }
  100% {
    text-shadow: 0px 0px 30px wheat, 0px -30px 100px skyblue;
  }
}
/*# sourceMappingURL=style.css.map */